{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Merak newsletter</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'portfolio/css/bd-coming-soon.css' %}">
</head>

<body class="min-vh-100 d-flex flex-column">

    <header>
        <div class="container">
            <nav class="navbar navbar-dark bg-transparenet">
                <a class="navbar-brand" href="#">
                </a>
                <span class="navbar-text ml-auto d-none d-sm-inline-block">avinashladdha.bits@gmail.com</span>
                
            </nav>
        </div>
    </header>
    <main class="my-auto">
        <div class="container">
            <h1 class="page-title">Coming soon...</h1>
            <p class="page-description">Merak is a Serbian word. One of the most beautiful words not directly translated to English.
                It means felling of bliss from simplest of pleasures. It is the pursuit of small, daily pleasures that add up to a great 
                sense of happiness and fulfillment. This newsletter is a small effort in the direction of finding joy in small learnings everyday.
                Published fortnightly.
            </p>
            <p>Stay connected</p>
            <nav class="footer-social-links">
                <a href="https://www.linkedin.com/in/avinashladdha/" class="social-link"><i class="mdi mdi-linkedin"></i></a>
                <a href="mailto:avinashladdha.bits@gmail.com.com" class="social-link"><i class="mdi mdi-google"></i></a>

            </nav>
        </div>
    </main>
</body>

</html>
